.contact
{
    padding: 0rem;

}
.contact-heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.contact-heading h2{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;

}
.contact-container
{
    max-width: 1170px;
    margin: auto;
    padding: 1rem;

}

.form-control {
    width: 300px;
    border: 1px solid black;
    margin: 0;
  }


.row
{
    /* display: flex;
    flex-wrap: unset; */
    /* position: relative; */
    display: flex;
  justify-content: center;
  align-items: center;

}
.column
{
    flex: 0 0 auto;
    width: 100%;
}
.contact-widget
{
    margin-bottom: 40px;
    padding-right: 20px;

}
.contact-widget-item
{
    margin-bottom: 40px;
    overflow: hidden;

}
.icon
{
    margin-bottom: 20px;

}

.text{
    text-align: center;
}
.text h5{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 9px;

}
.text p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 18px;

}
.contact-form form input{
    height: 42px;
    width: 40%;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .3s;
}
/* .contact-form form textarea
{
    width: 40%;
    height: 90px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .3s;
}
.contact-form form button
{
    width: 25%;
    margin-left: 59px;
    font-weight: 900;
    cursor: pointer;
} */
.map-column
{
    flex: auto;
    width: 100%;

}
.contact-map iframe
{
    width: 100%;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
  }
  
  .form-title{
    margin: 20px !important;
    font-family: "Segoe Script", cursive !important;
    font-size: 30px;

  }

.form-element{
    margin-bottom: 15px;
}

.form-button{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: "Michroma";
    font-size: 1.1rem !important;
    letter-spacing: 3px;
    height: 50px;
    width: 300px;
}

.form-button:hover{
    background-color: wheat;
    border: 2px solid black;
    color: black;
}

.form-row{
    padding-bottom: 70px;
}

.contact-widget{
    display: "flex";
    justify-content: "center";
    margin: 0 auto;
}